#navbar.nav.navbar.navbar-expand-lg.justify-between.bg-grayM-900.p-3.px-4
  .container-fluid
    a.navbar-brand(href='/hwhelp') Homework Help
    button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarNavAltMarkup', aria-controls='navbarNavAltMarkup', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNavAltMarkup.collapse.navbar-collapse
      .navbar-nav
        a.nav-link(href='/games') Games
      .navbar-nav
        a.nav-link(href='/links') All Links
      .navbar-nav
        a.nav-link(href='/privacy') Privacy Policy
      .navbar-nav
        a.nav-link(href='/discord') Discord

style(type='text/css').
    a:link {
    color: white;
    }
    a:visited {
    color: whitesmoke
    }
    a:hover {
    color: white
    }
