doctype html
head
include includes/head
.loader
script(src='loader.js', defer='')
include includes/navbar
.customcontainer
  .bubbles
    - for (let i = 1; i <= 50; i++)
      - let num = Math.floor(Math.random() * (23 - 8 + 1) + 8);
      - if (num != 16 && num != 20)
        span(style=`--i:${num}`)
      - else 
        i.shuttle.fa-solid.fa-shuttle-space(style=`--i:${num}`)
            
    //- span(style="--i:11")
    //- span(style="--i:12")
    //- span(style="--i:24")
    //- span(style="--i:10")
    //- span(style="--i:14")
    //- span(style="--i:23")
    //- span(style="--i:18")
    //- span(style="--i:16")
    //- span(style="--i:19")
    //- span(style="--i:20")
    //- span(style="--i:22")
    //- span(style="--i:25")
    //- span(style="--i:18")
    //- span(style="--i:21")
    //- span(style="--i:15")
    //- span(style="--i:13")
    //- span(style="--i:26")
    //- span(style="--i:17")
    //- span(style="--i:13")
    //- span(style="--i:28")
    //- span(style="--i:11")
    //- span(style="--i:12")
    //- span(style="--i:24")
    //- span(style="--i:10")
    //- span(style="--i:14")
    //- span(style="--i:23")
    //- span(style="--i:18")
    //- span(style="--i:16")
    //- span(style="--i:19")
    //- span(style="--i:20")
    //- span(style="--i:22")
    //- span(style="--i:25")
    //- span(style="--i:18")
    //- span(style="--i:21")
    //- span(style="--i:15")
    //- span(style="--i:13")
    //- span(style="--i:26")
    //- span(style="--i:17")
    //- span(style="--i:13")
    //- span(style="--i:28")
.text-center.pt-4
  img(src='')
.container.text-center
  a#ad(href='https://billing.billigerhost.com/aff.php?aff=78')
    img(src='/Images/billiger.png', width='261.75', height='199.25')
.jumbotron.text-center
  h1.display-3 Homework Help
  h1 &#x2800;
  p.line-1.anim-typewriter The site that &#x26CE;N&#x1F171;&#xFE0F;L&#x1F17E;C&#x1F1F0;S everything.
.container
  form#uv-form
    input#uv-address.form-control(style='background-color:#ffffff23', type='text', placeholder='Surf the web!')
  script(src='splashs.js', defer='')
  .text-center
    p.lead Teacher coming? Press &grave; to open panic mode
    a.btn.btn-primary(href='/panic', role='button') Set Panic Link
  style(type='text/css').
    a:link {
    color: white;
    }
    a:visited {
    color: whitesmoke
    }
    a:hover {
    color: white
    }
br
.text-center
  a.btn.btn-primary(href='https://www.patreon.com/hwhelpcc/', role='button') Support us with Patreon!
br
.text-center
  a.btn.btn-primary(href='https://discord.gg/homeworkhelp', role='button') Join our discord!
script(async='', src='https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3715996854656266', crossorigin='anonymous')
// Ad
ins.adsbygoogle(style='display:block', data-ad-client='ca-pub-3715996854656266', data-ad-slot='8595788668', data-ad-format='auto', data-full-width-responsive='true')
script.
  (adsbygoogle = window.adsbygoogle || []).push({});
//
  <div class="text-center pt-4">
  <a href="https://classworkgam.es/">
  <img src="/Images/gamesad.png">
  </a>
  </div>
#227527707
  script(type='text/javascript').
    try {
    window._mNHandle.queue.push(function () {
    window._mNDetails.loadTag("227527707", "728x90", "227527707");
    });
    }
    catch (error) { }
script(src='uv/uv.bundle.js')
script(src='uv/uv.config.js')
script(src='index.js')
script(src='keyp.js')
script(src='icons.js')
//- span(style='position: absolute; bottom: 0pt; right: 0pt;')
