doctype html
head
include includes/head
include includes/navbar
.container
  .jumbotron.text-center
    h1.display-3 Privacy Policy
    hr
  .MuiBox-root.mui-style-8dn448
    h1.MuiTypography-root.MuiTypography-h1.mui-style-14fnyyw
    .MuiTypography-root.MuiTypography-body1.mui-style-12yzzlu
      h2#what-information-do-we-collect.MuiTypography-root.MuiTypography-h6.mui-style-vaycnb 1. WHAT INFORMATION DO WE COLLECT?
      br
      | We collect literally nothing.
script(src='keyp.js')
span(style='position: absolute; bottom: 0pt; right: 0pt;')
